pkgbase = tlumacz
	pkgdesc = AI-powered document translator with a Qt GUI
	pkgver = 0.20.1
	pkgrel = 1
	url = https://github.com/frs777/tlumacz
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = pyside6
	depends = python-openai
	depends = python-pymupdf
	depends = hicolor-icon-theme
	optdepends = pandoc: DOCX extraction (docx to Markdown)
	source = tlumacz-0.20.1.tar.gz
	b2sums = 98402cd5d26a545b2a60d79497053f4aaaf0a3a2b314ad182f7089d27dbdb483f9d97c128b7a534bc0b073b5fc6ca6a04accc1a7872a4ed2fb7deb320f00be25

pkgname = tlumacz
